body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cce1da;
}

header {
    background-color: #092635;
    color: #fff;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

footer {
    background-color: #092635;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}
